.nav__main {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: var(--background-violet); */
}

.content {
	padding: 10px 30px;
	margin: 10px;
	color: var(--gray);
	font-size: 24px;
}

.home__main-btns {
	display: flex;
	margin-top: 80px;
}
